* {
  box-sizing: border-box;
}

html,
body {
  @extend %scrollbar;

  color: var(--foreground);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  overscroll-behavior: none;
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4,
h5,
h6 {
  font-size: 16px;
}

img,
audio,
video,
picture {
  display: block;
}

button,
input[type='button'],
.button {
  background: var(--button);

  border: 0;
  border-radius: 3px;

  color: var(--button-text);
  text-decoration: none;

  height: 24px;
  padding: 0 4px;

  cursor: pointer;
  transition: background-color 100ms ease;

  &:hover {
    background: var(--button-hover);
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  transition-delay: 99999s;
}
