.file {
  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__picture,
  &__image {
    width: 100%;
    height: 100%;
  }

  &__picture {
    transition: opacity 200ms ease;
  }

  .nsfw &__picture {
    opacity: 0.05;

    &:hover {
      opacity: 1;
    }
  }
}
