.header {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  max-width: 800px;

  height: 100%;

  padding: 0 16px;
  margin: 0 auto;

  &__left,
  &__center,
  &__right {
    display: flex;
    align-items: center;

    flex: 1;
  }

  &__right {
    justify-content: flex-end;
  }

  &__show-menu,
  &__show-settings,
  &__show-post-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: none;
    border-radius: 0;

    color: var(--foreground);
    font-weight: bold;
    white-space: nowrap;

    height: 100%;

    padding: 0 8px;

    .icon {
      color: var(--icon);
      font-size: 18px;
    }

    &:hover {
      .icon {
        color: var(--icon-hover);
      }
    }
  }

  &__show-settings,
  &__show-menu {
    &:hover {
      background: none;
    }
  }

  &__show-menu {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__show-post-form {
    .icon {
      margin-right: 8px;
    }

    &:hover {
      background: var(--fab);
    }
  }
}
