.layout {
  $headerHeight: 40px;
  $headerMargin: 8px;
  $sidebarWidth: 200px;
  $contentWidth: 800px;

  &__header {
    position: fixed;
    top: 0;
    left: 0;

    background: var(--background);
    box-shadow: 0 0 8px 0 rgba(#000, 0.1);

    width: 100%;
    height: $headerHeight;

    z-index: 1000;
  }

  &__sidebar {
    position: fixed;

    top: 0;
    left: -100vw;

    width: 100vw;
    height: 100vh;

    background: var(--background);

    padding: 16px;

    transition: left 200ms ease;

    z-index: 1200;

    &_visible {
      left: 0;
    }

    @media screen and (min-width: 600px) {
      box-shadow: 0 0 8px 0 rgba(#000, 0.1);

      width: 600px;
    }

    @media screen and (min-width: 1200px) {
      box-shadow: none;

      top: ($headerHeight + $headerMargin);
      left: calc(50vw - $contentWidth / 2 - $sidebarWidth);

      width: $sidebarWidth;
      height: calc(100vh - $headerHeight - $headerMargin);

      padding: 0;

      z-index: 900;
    }
  }

  &__settings {
    position: fixed;

    top: 0;
    right: -100vw;

    width: 100vw;
    height: 100vh;

    background: var(--background);

    padding: 16px;

    transition: right 200ms ease;

    z-index: 1210;

    &_visible {
      right: 0;
    }

    @media screen and (min-width: 600px) {
      box-shadow: 0 0 8px 0 rgba(#000, 0.1);

      width: 600px;
    }
  }

  &__content {
    width: 100%;
    max-width: $contentWidth;

    min-height: 100vh;

    padding: ($headerHeight + $headerMargin) 16px 0;
    margin: 0 auto;
  }

  &__scroll-top,
  &__scroll-bottom {
    position: fixed;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    background: var(--fab);
    border-radius: 50px;
    font-size: 18px;

    width: 35px;
    height: 35px;

    padding: 0;

    opacity: 1;

    transition: background-color 100ms ease, opacity 100ms ease;

    z-index: 1000;

    &_hidden {
      opacity: 0;

      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background: var(--fab);

      .icon {
        color: var(--icon-hover);
      }
    }

    @media screen and (min-width: 900px) {
      right: calc(50vw - $contentWidth / 2 - 35px);
    }
  }

  &__scroll-top {
    position: fixed;

    top: ($headerHeight + 16px);

    .icon {
      transform: translate(0, -2px);
    }
  }

  &__scroll-bottom {
    bottom: 16px;

    .icon {
      transform: translate(0, 2px);
    }
  }
}
