strong,
.bold {
  font-weight: bold;
}

em,
.italic {
  font-style: italic;
}

del,
.strike {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.spoiler {
  background: rgba(0, 0, 0, 0.1);
  color: transparent;
  border-radius: 4px;
  padding: 0 2px;
  transition: color 200ms ease;

  &:hover {
    color: var(--foreground);
  }
}

a,
.link,
.reflink,
.quote {
  color: var(--primary);
}

a,
.link,
.reflink {
  text-decoration: underline;
}

.reflink {
  &_own::after {
    content: ' (You)';
  }
}

code,
.code {
  font-family: 'Fira Code', monospace;
  white-space: pre;
  word-break: break-all;
}

.dice {
  color: var(--primary);
  font-size: 0.8em;
  font-weight: bold;
}
