%scrollbar {
  scrollbar-color: var(--icon) var(--fab);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background: var(--fab);

    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--icon);

    transition: background-color 100ms ease;

    &:hover {
      background: var(--icon-hover);
    }
  }
}
