.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  bottom: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;

  z-index: 1100;

  &_hidden {
    display: none;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease;
  }

  &-enter-done,
  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 200ms ease;
  }
}

.modal {
  display: flex !important;
  flex-flow: column nowrap;

  background: var(--background);
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(#000000, 0.1);

  padding: 4px 8px 8px;

  pointer-events: initial;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 0 0 8px;
  }

  &__title {
    flex: 1;

    text-align: center;

    margin: 0;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: 0;
    border-radius: 0;

    color: var(--icon);
    font-size: 18px;

    width: 24px;
    height: 24px;

    padding: 0;

    &:hover {
      background: none;

      .icon {
        color: var(--icon-hover);
      }
    }
  }

  &__body {
    flex: 1;
  }

  @media screen and (max-width: 600px) {
    transform: none !important;

    width: 100% !important;
    min-width: unset !important;

    height: 100% !important;
    min-height: unset !important;
  }
}
