.post {
  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    margin-bottom: 4px;
  }

  &__subject {
    font-size: 18px;
    font-weight: bold;

    margin-right: 8px;
  }

  &__author {
    margin-right: 8px;
  }

  &__name {
    font-weight: bold;
  }

  &__tripcode {
    &:not(:empty)::before {
      content: '!';
    }
  }

  &__date {
    font-size: 14px;
    opacity: 0.8;

    margin-right: 8px;
  }

  &__id {
    font-size: 14px;
    opacity: 0.8;

    margin-right: 8px;

    &::before {
      content: '#';
    }
  }

  &__reply {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    align-self: center;

    background: none;
    border: 0;

    font-size: 18px;

    width: 22px;
    height: 22px;

    padding: 0;

    &:hover {
      background: none;

      .icon {
        color: var(--foreground);
      }
    }
  }

  &__files {
    display: flex;
    flex-flow: row wrap;

    &:not(:empty) {
      margin-bottom: -8px;
    }

    &_single {
      float: left;
    }
  }

  &__file {
    border-radius: 4px;

    margin-right: 8px;
    margin-bottom: 8px;

    overflow: hidden;
  }

  &__message {
    word-wrap: break-word;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__omitted-replies {
    opacity: 0.8;
    font-size: 14px;

    margin-bottom: 8px;
  }

  &__replies-item {
    border-left: 2px solid rgba($foreground, 0.5);

    padding-left: 8px;
    margin-bottom: 16px;

    &_own {
      border-left: 2px dashed rgba($foreground, 0.5);
    }
  }
}
