.post-list {
  &__inner {
    position: relative;
  }

  &__item-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }

  &__item {
    border-left: 2px solid var(--border);
    border-radius: 2px;
    background: var(--block);

    width: 100%;

    padding: 8px;
    margin-bottom: 16px;

    @media screen and (min-width: 600px) {
      width: fit-content;
      min-width: 60%;
    }

    &_own {
      border-left: 2px dashed var(--border);
    }
  }
}
