.post-list {
  &__inner {
    position: relative;
  }

  &__item-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }

  &__item {
    border-left: 2px solid rgba($foreground, 0.5);

    padding-left: 8px;
    margin-bottom: 16px;
  }
}
