.sidebar {
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: 0;
    border-radius: 0;

    font-size: 18px;

    width: 24px;
    height: 24px;

    padding: 0;

    &:hover {
      background: none;

      .icon {
        color: #cfd4e3;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &__close {
      display: none;
    }
  }

  &__list,
  &__item {
    list-style: none;

    padding: 0;
    margin: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 50px;

    background-color: none;
    color: var(--foreground);

    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    padding: 4px 12px;

    transition: background-color 100ms ease;

    .icon {
      color: #9da2b2;

      margin-right: 8px;
    }

    &.active,
    &:hover {
      background-color: #303339;

      .icon {
        color: var(--foreground);
      }
    }
  }
}
