.spinner {
  margin: 0 auto;

  width: 100%;
  max-width: 300px;

  &__inner {
    position: relative;

    padding-top: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    background-image: url('./images/spinner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;

    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    width: 100%;
    height: 100%;
  }
}
